


<div class="table-container">
    <loading-spinners *ngIf="isLoading"></loading-spinners>
    <p class="rojo">
      Tabla de productos
    </p>
  
    <div class="buscar">
      <label for="">Buscar: </label>
      <input type="text" (keyup)="buscar($event)">

      <label for="">Seleccionar: </label>
      <select id="categoria" (change)="seleccionarCategoria($event.target)">
        <option value="">Seleccione categoria</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.categoria_id">{{categoria.nombre}}</option>
      </select>
      
    </div>
  
    <button id="nuevo" (click)="toggleModoNuevo()">Nuevo +</button>
    
    <div class="separador" style='height:54%;display:block;overflow: auto'>
      <div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Stock</th>
              <th>Unidad Medida</th>
              <th>Categoria</th>
              <th>Fecha Elaboración</th>
              <th>Fecha Vencimiento</th>
              <th class="eliminar">Acciones</th>
            </tr>
          </thead>
          
  
          <tbody>
            <tr *ngFor="let producto of filtroProductos">
              <td>{{ producto.producto_id }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.medida.nombre }}</td>
              <td>{{ producto.categoria.nombre }}</td>
              <td>{{ producto.fechaElaboracion | date:'dd-MM-yyyy' }}</td>
              <td>{{ producto.fechaVencimiento | date:'dd-MM-yyyy' }}</td>
              <td class="eliminar">
                <button (click)="clickDelete(producto.nombre, producto.producto_id)">❌</button>
                <button class="editar" (click)="toggleModoEdicion(producto)">✏️</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="pup-up" [ngClass]="{ 'oculto': modoOculto }">
      <div class="pop-up-container">
        <span class="cerrar" (click)="editarModoOcuto()">❌</span>
        <app-guardar-bodega class="editar" [productosEditar]="productosEditar" (modoOculto)="editarModoOcuto()" (loading)="setLoading()"></app-guardar-bodega>
        
      </div>
    </div>
  
    <button id="nuevo" (click)="generatePDF()">Generar Reporte</button>
</div>

<div  id="contentToConvert" style="justify-content: center; display: none; ">
  <div class="table-container">
    <p class="rojo" style="justify-content: center; font-weight: bold;">
      Tabla de productos
    </p>
    
    <div class="separador">
      <div>
        <table style="border-collapse: collapse;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Stock</th>
              <th>Unidad Medida</th>
              <th>Categoria</th>
              <th>Fecha Elaboración</th>
              <th>Fecha Vencimiento</th>
            </tr>
          </thead>
          

          <tbody>
            <tr *ngFor="let producto of filtroProductos">
              <td>{{ producto.producto_id }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.medida.nombre }}</td>
              <td>{{ producto.categoria.nombre }}</td>
              <td>{{ producto.fechaElaboracion | date:'dd-MM-yyyy' }}</td>
              <td>{{ producto.fechaVencimiento | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  